html{
    background-image: url('assets/paperboard-yellow-texture.jpg');
}

body{
    background: none;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    justify-content:center;
    align-items:center;
    background-color:cadetblue;
    margin: 0;
}